.button {
    height: 64px;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.25px;
    background-color: var(--app-color-2);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--app-color-1);

    &:hover {
        background-color: var(--app-color-3);
    }
}
