.bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.loader {
    transform: scale(0.4);
    animation: appearing 1s ease-in-out;
}

@keyframes appearing {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}